<mat-card [ngClass]="{'system-up' : card.isUp, 'system-down':!card.isUp}">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{card.name}}</mat-card-title>
    <mat-card-subtitle>{{card.isUp ? 'Up & Running' : 'Down'}}</mat-card-subtitle>
  </mat-card-header>
<!--  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Last checked at: {{card.lastCheckedAt}}</button>
    <button mat-button>Refresh</button>
  </mat-card-actions>
</mat-card>
