<mat-card class="main-card">
  <mat-card-header class="heading"  [ngClass]="{'system-up' : card.isUp, 'system-down':!card.isUp}">
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{card.name}}</mat-card-title>
    <!--    <mat-card-subtitle>{{card.isUp ? 'Up & Running' : 'Down'}}</mat-card-subtitle>-->
  </mat-card-header>
  <!--  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
  <mat-card-content class="content">

    {{card.isUp ? 'Running' : 'Down'}}

    <ul>
      <li>
        <ul class="kvpairs">
          <li>SOme key</li>
          <li>Some value</li>
        </ul>
      </li>
      <li>
        <ul class="kvpairs">
          <li>SOme key</li>
          <li>Some value</li>
        </ul>
      </li>
      <li>
        <ul class="kvpairs">
          <li>SOme key</li>
          <li>Some value</li>
        </ul>
      </li>
    </ul>
  </mat-card-content>

  <mat-divider></mat-divider>
  <mat-card-footer *ngIf="!loading">
    <span >Last checked at: {{card.lastCheckedAt}}</span>
    <button matTooltip="Refresh" mat-icon-button (click)="refreshStatus()">
      <mat-icon>refresh</mat-icon>
    </button>
  </mat-card-footer>
  <mat-card-footer *ngIf="loading">
    <img class="loading1" src="https://ukutet.com/images/spinner.gif"/>
  </mat-card-footer>
</mat-card>

