.main-card {
  max-width: 400px;
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 20px;
}
.content {
  min-height: 60px;
}


.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.system-up {
  background: #6ad359;
}
.system-down {
  background: #be4e75;
}
.last-updated{
  background: lightgrey;
}

.mat-mdc-card-avatar {
  margin:0px;
}
.heading {
  padding:0px;
}
ul{
  list-style: none;
}
.kvpairs {
  display: flex;
}
.loading1{
  height: 35px;
  width: 35px;
}
dl {
  display: table;
}
dl > div {
  display: table-row;
}
dl > div > dt, dl > div > dd {
  display: table-cell;
  border: 1px solid black;
  padding: 0.1em;
}
dl > div > dt {
  font-weight: bold;
}
