<main>
  <h1>Admin UI</h1>
</main>
<ul>
  <li class="card system-all" (click)="goTo('')">
    <div class="card__flipper">
      <div class="card__front">
        <p class="card__name"><span>Systems</span><br>Unique</p>
        <p class="card__num">11</p>
      </div>
      <div class="card__back">
        <svg height="180" width="180">
          <circle cx="90" cy="90" r="55" stroke="#bdb235" stroke-width="35"  />
        </svg>
        <span>103.3</span>
      </div>
    </div>
  </li>
  <li class="card system-up" (click)="goTo('up')">
    <div class="card__flipper">
      <div class="card__front">
        <p class="card__name"><span>Systems</span><br>Up & Running</p>
        <p class="card__num">9</p>
      </div>
      <div class="card__back">
        <svg height="180" width="180">
          <circle cx="90" cy="90" r="55" stroke="#514d9b" stroke-width="35"  />
        </svg>
        <span>113.2</span>
      </div>
    </div>
  </li>
  <li class="card system-down" (click)="goTo('down')">
    <div class="card__flipper">
      <div class="card__front">
        <p class="card__name"><span>Systems</span><br>Down</p>
        <p class="card__num">2</p>
      </div>
      <div class="card__back">
        <svg height="180" width="180">
          <circle cx="90" cy="90" r="55" stroke="#db6623" stroke-width="35"  />
        </svg>
        <span>101.5</span>
      </div>
    </div>
  </li>
<!--  <li class="card">-->
<!--    <div class="card__flipper">-->
<!--      <div class="card__front">-->
<!--        <p class="card__name"><span>Systems</span><br>Down</p>-->
<!--        <p class="card__num">12</p>-->
<!--      </div>-->
<!--      <div class="card__back">-->
<!--        <svg height="180" width="180">-->
<!--          <circle cx="90" cy="90" r="55" stroke="#35a541" stroke-width="35"  />-->
<!--        </svg>-->
<!--        <span>112.2</span>-->
<!--      </div>-->
<!--    </div>-->
<!--  </li>-->


<!--  <li class="card">-->
<!--    <div class="card__flipper">-->
<!--      <div class="card__front">-->
<!--        <p class="card__name"><span>Tom</span><br>Brady</p>-->
<!--        <p class="card__num">12</p>-->
<!--      </div>-->
<!--      <div class="card__back">-->
<!--        <svg height="180" width="180">-->
<!--          <circle cx="90" cy="90" r="55" stroke="#3e5eb3" stroke-width="35"  />-->
<!--        </svg>-->
<!--        <span>97.4</span>-->
<!--      </div>-->
<!--    </div>-->
<!--  </li>-->
<!--  <li class="card">-->
<!--    <div class="card__flipper">-->
<!--      <div class="card__front">-->
<!--        <p class="card__name"><span>Drew</span><br>Brees</p>-->
<!--        <p class="card__num">9</p>-->
<!--      </div>-->
<!--      <div class="card__back">-->
<!--        <svg height="180" width="180">-->
<!--          <circle cx="90" cy="90" r="55" stroke="#aa9e5c" stroke-width="35"  />-->
<!--        </svg>-->
<!--        <span>97.0</span>-->
<!--      </div>-->
<!--    </div>-->
<!--  </li>-->
</ul>
